<% if collection.any? %>
<div class="row">
  <div class="col-sm-12">
    <div class="carousel-wrapper">
      <div class="carousel" data-carousel>
        <%- collection.each do |slide| -%>
          <%= render partial: "spree/slides/slide_#{slide.slide_type}", locals: { slide: slide } %>
        <%- end -%>
      </div>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var Carousel = {
      element: function(){
        return $("[data-carousel]");
      },
      items: function(){
        return this.element().find('.carousel-slide-item');
      },
      state: {
        unfinished: false
      },
      start: function() {
        this.element().slick({
          dots: true,
          arrows: true,
          infinite: true,
          speed: 500,
          fade: true,
          cssEase: 'linear',
          autoplay: true,
          autoplaySpeed: 3000,
        });
      }, 
      stop: function(){
        this.element().slick('unslick');
        return this.element();
      }
    };
    Carousel.start();
    window.Spree.Carousel = Carousel;
  });
</script>