<li data-slide-id="<%= owl.id %>">
<%= link_to edit_admin_parliament_owl_path(owl.parliament_id, owl) do  -%>
  <%= image_tag(owl.attachment.url(:mobile), class: "carousel-thumb") %>
<%- end -%>
</li>