<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parliament.name %>
</p>

<%= link_to 'Edit', edit_admin_parliament_path(@parliament) %> |
<%= link_to 'Back', admin_parliaments_path %>
