<li data-slide-id="<%= slide.id %>">
<%= link_to edit_admin_carousel_slide_path(slide.carousel_id, slide) do  -%>
  <%= image_tag(slide.attachment.url(:mobile), class: "carousel-thumb") %>
<%- end -%>
</li>